header {
  padding: 1rem 1rem 0;
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  background: var(--color-pink);
  overflow: hidden;
  z-index: 1000;

  .navigation {
    justify-content: center;
  }
}
