.button {
  display: flex;
  color: var(--color-blue) !important;
  text-decoration: none;
  padding: 12px 16px;
  border-radius: 8px;
  transition:
    background-color 0.2s ease-in-out,
    color 0.2s ease-in-out;
  outline: 3px solid var(--color-blue);
  font-weight: bold;
  outline-offset: -1px;
  text-align: center;
  justify-content: center;
  width: auto;
  max-width: fit-content;
}

.button:hover {
  background-color: var(--color-blue);
  color: var(--color-pink) !important;
}

.button--inverted {
  background-color: var(--color-blue);
  color: var(--color-pink) !important;
  outline-color: var(--color-pink);
}

.button--inverted:hover {
  background-color: var(--color-pink);
  color: var(--color-blue) !important;
}
