:root {
  font-family: var(--font-base);
  line-height: 1.5;
  font-weight: 400;
  color: #000;
  background-color: #fff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  display: flex;
  grid-template-columns: 1fr;
  min-height: 100vh;
  background-color: var(--color-pink);
  color: var(--color-blue);
}

#root {
  width: 100%;
  margin: 0 auto;
}

.container {
  max-width: 764px;
  margin: 0 auto;
  padding: 2rem 1.5rem;

  @media (min-width: 768px) {
    padding: 4rem 1.5rem;
  }
}

.container--wide {
  max-width: 1280px;
}

a,
a:visited,
a:hover,
a:active {
  color: var(--color-blue);
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.grid > * {
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
}
