:root {
  font-family: var(--font-base);
  line-height: 1.5;
  font-weight: 400;
  color: #000;
  background-color: #fff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--color-pink);
  color: var(--color-blue);
}

#root {
  width: 100%;
  margin: 0 auto 100px;
}

.container {
  max-width: 764px;
  margin: 0 auto;
  padding: 2rem 1.5rem;

  @media (min-width: 768px) {
    padding: 4rem 1.5rem;
  }
}

a,
a:visited,
a:hover,
a:active {
  color: var(--color-blue);
}
