:root {
  --font-base: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --font-heading: 'Bagel Fat One', system-ui;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  line-height: 1.1;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2em;
}

p {
  font-size: 1em;
  line-height: 1.5em;
}
