.info {
  background-color: var(--color-beige);
  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li:last-child p {
      margin-bottom: 0;
    }
  }

  h2 {
    margin-top: 0;
  }

  h3 {
    margin: 0 0 0.2em;
  }

  p {
    margin-top: 0;
    margin-bottom: 1.5em;
  }

  .container > div {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  @media (min-width: 768px) {
    .container > div {
      flex-direction: row;
      justify-content: space-between;
    }

    > div ul {
      width: 48%;
    }
  }
}
