footer {
  background: var(--color-blue);
  padding: 1rem;
  color: var(--color-pink);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin: 0 8px;

    path {
      fill: var(--color-pink);
    }
  }
}
