.media-player {
  h2 {
    margin-bottom: 1rem;
  }

  .container > p {
    margin: 0 0 3rem;
    font-size: 1.5em;
  }
}

.track-list {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

.track-list li {
  padding: 8px 8px 8px 48px;
  cursor: pointer;
  border-radius: 6px;
  margin-bottom: 5px;
  transition: background-color 0.3s color 0.3s;
  border: 3px solid var(--color-blue);
  position: relative;

  &:before {
    content: ' ';
    width: 14px;
    height: 14px;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 14px;
    border: 3px solid var(--color-blue);
    transform: translateY(-50%);
  }

  &:after {
    display: none;
    content: ' ';
    width: 6px;
    height: 6px;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 21px;
    background-color: var(--color-blue);
    transform: translateY(-50%);
  }
}

.track-list li:hover {
  background-color: var(--color-beige);

  &:after {
    display: block;
  }
}

.track-list li.active {
  background-color: var(--color-blue);
  color: var(--color-pink);
  font-weight: bold;

  &:before {
    width: 10px;
    height: 10px;
    background: var(--color-pink);
    border: 3px solid var(--color-pink);
    left: 16px;
  }

  &:after {
    display: block;
  }
}

.player {
  margin-bottom: 2rem;
  padding: 1rem;
  border-radius: 8px;
  outline: 3px solid var(--color-blue);
  font-weight: bold;
  outline-offset: -1px;

  @media (min-width: 765px) {
    padding: 3rem;
  }

  h3 {
    margin-top: 0;
  }
}

.controls {
  margin: 32px 0 24px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.controls button {
  display: flex;
  outline: 3px solid var(--color-blue);
  font-size: 2rem;
  background: none;
  color: var(--color-blue);
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;

  svg {
    width: 32px;
    height: 32px;
    transition: fill 0.3s;

    @media (min-width: 400px) {
      width: 40px;
      height: 40px;
    }
  }
}

.controls button:hover {
  background: var(--color-blue);
  color: var(--color-pink);

  svg {
    fill: var(--color-pink);
  }
}

.controls button:active {
  background-color: transparent;
}

.time-slider {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}

/* .time-slider input[type='range'] {
  flex-grow: 1;
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 15rem;
} */

/********** Range Input Styles **********/
/*Range Reset*/
.time-slider input[type='range'] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 100%;
}

/* Removes default focus */
.time-slider input[type='range']:focus {
  outline: none;
}

/***** Chrome, Safari, Opera and Edge Chromium styles *****/
/* slider track */
.time-slider input[type='range']::-webkit-slider-runnable-track {
  background-color: var(--color-blue);
  border-radius: 0.5rem;
  height: 0.5rem;
}

/* slider thumb */
.time-slider input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -10px; /* Centers thumb on the track */

  /*custom styles*/
  background-color: var(--color-blue);
  height: 1.75rem;
  width: 1.75rem;
  border-radius: 100%;
}

/******** Firefox styles ********/
/* slider track */
.time-slider input[type='range']::-moz-range-track {
  background-color: var(--color-blue);
  border-radius: 0.5rem;
  height: 0.5rem;
}

/* slider thumb */
.time-slider input[type='range']::-moz-range-thumb {
  border: none; /*Removes extra border that FF applies*/
  border-radius: 0; /*Removes default border-radius that FF applies*/

  /*custom styles*/
  background-color: var(--color-blue);
  height: 2rem;
  width: 1rem;
}

.time-slider input[type='range']:focus::-moz-range-thumb {
  border: 1px solid var(--color-blue);
  outline: 3px solid var(--color-blue);
  outline-offset: 0.125rem;
}

.time-slider span {
  font-family: monospace;
  min-width: 50px;

  &:last-child {
    text-align: right;
  }
}

.lyrics {
  padding-top: 2rem;
}

/* /* .media-player {
  audio {
    width: 100%;
    max-width: 400px;
    border-radius: 8px;
    background-color: #f0f0f0;
    outline: none;
  }
} */

/* .media-player {
  background-color: var(--color-blue);
  color: var(--color-beige);
}

.media-player h2 {
  color: var(--color-beige);
}

.controls button {
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 8px;
    transition:
      background-color 0.2s ease-in-out,
      color 0.2s ease-in-out;
    outline: 3px solid white;
    font-weight: bold;
    outline-offset: -1px;
}

.time-display {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-top: 15px;
}

.time-display span {
  font-family: monospace;
  min-width: 45px;
}

.time-display input[type="range"] {
  flex: 1; 
} */
