.timeline {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  max-width: 300px;

  @media (min-width: 850px) {
    display: grid;
    grid-template-columns: 300px 2fr;
    max-width: 800px;
    column-gap: 200px;
    background-image: url('/img/timeline.svg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 200px auto;
    padding-top: 70px;
  }
}
