.timeline-item {
  text-align: center;
  position: relative;
  width: 270px;
  margin: 50px auto 0;

  &:first-child {
    margin-top: 0;
    grid-column: 2;
  }

  .time {
    display: block;
    font-family: var(--font-heading);
    font-size: 2rem;

    @media (min-width: 768px) {
      font-size: 3rem;
    }
  }

  p {
    margin-top: 0;
    font-size: 1.2rem;

    @media (min-width: 768px) {
      font-size: 1.75rem;
    }
  }

  img {
    position: absolute;
    top: 0%;
    right: 0;

    @media (min-width: 768px) {
      transform: translateX(100%);
    }
  }
}

.timeline-item--reversed {
  img {
    right: auto;
    left: 0;

    @media (min-width: 768px) {
      transform: translateX(-100%);
    }
  }
}

@media (min-width: 850px) {
  .timeline-item {
    margin-top: 30px;
    width: 300px;

    img {
      top: 0;
      transform: translateY(-100%);
    }

    .timeline-item:nth-child(even) {
      margin-top: 34px;
    }
  }

  .timeline-item:nth-child(odd):not(:first-child) {
    margin-top: 196px;
  }
}
